<launch>

    <!-- Launch the custom node to advertise topics for UR -->
    <node name="advertise_topics_for_UR" pkg="tars_robot" type="advertise_topics_for_UR" output="screen" />

    <!-- Launch the UR10 bringup node with specified robot IP -->
    <include file="$(find ur_robot_driver)/launch/ur10_bringup.launch">
        <arg name="robot_ip" value="192.168.1.102" />
    </include>

    <include file="$(find rosbridge_server)/launch/rosbridge_tcp.launch" />

    <node name="call_ur_setup_program" pkg="tars_robot" type="call_ur_setup_program.py" output="screen" />

    <node name="call_ur_measurement_program" pkg="tars_robot" type="call_ur_measurement_program.py" output="screen" />

    <node name="hmi" pkg="hmi" type="hmi" output="screen" />

    <node name="open_moveit_robot" pkg="tars_robot" type="open_moveit_robot.py" output="screen" />

</launch>
