<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="dual_robots">

  <!-- Define the world link -->
    <link name="world" />

  <!-- First robot -->
  <xacro:include filename="$(find bdr11_description)/urdf/ur10_robot.xacro" />
  <xacro:ur10_robot />
  
  <joint name="ur10_robot_joint" type="fixed">
    <parent link="world" />
    <child link="${ur10_ns}table_link" /> <!-- ${ur10_ns} -->
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Second robot -->
  <xacro:include filename="$(find bdr11_description)/urdf/quantec_eff.urdf.xacro" />
  <xacro:moveit_quantec />
  
  <joint name="quantec_robot_joint" type="fixed">
    <parent link="world" />
    <child link="${quantec_ns}base_link_quantec" />  <!-- ${quantec_ns} -->
    <origin xyz="-1 0.4 0" rpy="-1.57 0 0" /> <!-- Adjust xyz for the desired position -->
  </joint>

</robot>
