<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="dual_robots">

  <!-- Define the world link -->
  <link name="world_link">
    <inertial>
      <mass value="1.0" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </collision>
  </link>

  <!-- First robot -->
  <xacro:include filename="$(find bdr11_description)/urdf/ur10_robot.xacro" />
  <xacro:ur10_robot />
  
  <joint name="ur10_robot_joint" type="fixed">
    <parent link="world_link" />
    <child link="${ur10_ns}table_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Second robot -->
  <xacro:include filename="$(find bdr11_description)/urdf/quantec_eff.urdf.xacro" />
  <xacro:moveit_quantec />
  
  <joint name="quantec_robot_joint" type="fixed">
    <parent link="world_link" />
    <child link="${quantec_ns}base_link_quantec" />
    <origin xyz="-1 0.4 0" rpy="-1.57 0 0" /> <!-- Adjust xyz for the desired position -->
  </joint>

</robot>
